.question-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: #f0f8ff; /* Arka plan rengini buraya da uygulayın */
}

.question-image {
    width: 50%;
    height: 50%;
    margin: 40px;
    border-radius: 20px;
    object-fit: cover;
}

.question-title {
    font-weight: 900;
    max-width: 50%;
    text-align: center;
}

.question-body {
    width: 40%;
    padding: 30px;
}

.timer {
    padding: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 3, 3);
    border-radius: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.question-label {
    font-size: 18px;
    font-weight: 700;
    margin: 5px;
    display: block;
}

.question-radio {
    margin: 0 5px;
}

.question-body button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    background-color: rgba(14, 111, 124, 0.418);
    border: none;
    height: 40px;
    border-radius: 20px;
    width: 30%;
    cursor: pointer;
}

.question-finish {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-color: #f0f8ff;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.question-finish ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.question-finish li {
    background-color: #e6f7ff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-basis: calc(33.333% - 20px);
    min-width: 200px;
    box-sizing: border-box;
}
